/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {


	font-family: 'Roboto', sans-serif;
}

main {
	background-image: url('../img/table-back.svg');
}

header {
	/* block model */
	width: 100%;

	/* decor */
	background-color: #191b1b;

	border-bottom: 2px solid #fdbe14;
}

footer {
	width: 100%;

	/* decor */
	background-color: #191b1b;

	border-top: 2px solid #fdbe14;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.title-head {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 25px;
	/* identical to box height */
	text-align: center;

	color: #fdbe14;
}

.header-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 20px 0;
}

.logo-text {
	display: inline;
	padding: 0;

	font-size: 50px;
	font-weight: 500;

	color: #fdbe14;
}

.tel-number {
	font-size: 50px;
	font-weight: 500;

	color: #fdbe14;
}

.exchange-title {
	padding-top: 50px;
	margin-bottom: 50px;
}

.tg-sub {
	/* block model */
	display: block;
	margin: 0 auto;
	font-size: 18px;
	line-height: 36px;
	/* identical to box height */
	text-align: center;

	color: #ffffff;
}

.table-exchange {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #fdbe14;
	background-color: #191b1b;
	border-radius: 10px;
}

.table-head {
	font-size: 26px;
	line-height: 36px;
	/* identical to box height */
	text-align: center;

	color: #fdbe14;
}

.table {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.table-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.table-text {
	margin-right: 5px;
	padding: 5px;
	font-size: 18px;
	font-weight: 500;
	/* identical to box height */
	text-align: center;
	color: #fff;
}

.valuta {
	width: 223px;
	padding: 10px;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	color: #fdbe14
}

.buy,
.sell {
	padding: 10px;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}

.table-item:not(:last-child) {
	margin-bottom: 15px;
}

.description {
	padding-left: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #fdbe14;
}

.description:first-child {
	margin-bottom: 10px;
}

.description a {
	text-decoration: none;
	color: #fdbe14
}

.btn-calc {
	align-self: center;
	margin-right: 10px;
	padding: 10px;
	background-color: #fdbe14;
	border-radius: 5px;
	color: #000;
}

.opt-exchange {
	margin-top: 35px;
	margin-bottom: 90px;
	text-align: center;
}

.opt-important {
	font-size: 24px;
	color: #fdbe14;
}

.opt-important a {
	text-decoration: none;
	color: #fdbe14;
}

.string {
	width: 100%;
	background-color: #fdbe14;
}

.run-string-box {
	margin-bottom: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.adress-head {
	margin-bottom: 50px;
}

.adress-box {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding-bottom: 70px;
}

.adress-image-box {
	display: inline-block;
	align-self: center;
	padding: 20px;
	border: 2px solid #fdbe14;
	border-radius: 10px;
	background-color: #191b1b;
}

.adress-image {
	width: 450px;
	height: 450px;
}

.adress-text-box {
	display: inline-block;
	align-self: center;
	margin-top: 25px;
}

.adress-text {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	color: #fdbe14;
}

.tel-text {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	color: #fdbe14;
}

.footer-link-box {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

@media screen and (max-width: 480px) {

	.logo-img {
		width: 25px;
		height: 25px;
	}

	.logo-text {
		font-size: 25px;
		align-self: center;
	}

	.tel-number {
		font-size: 25px;
	}

	.title-head {
		font-size: 18px;
	}

	.tg-sub {
		font-size: 14px;
	}

	.container {
		width: 90%;
	}

	.table-head {
		font-size: 18px;
	}

	.table-text {
		font-size: 8px;
	}

	.valuta {
		width: 100px;
		font-size: 14px;
	}

	.buy,
	.sell {
		font-size: 14px;
	}

	.description {
		font-size: 4px;
	}

	.btn-calc {
		font-size: 8px;
	}

	.opt-important {
		font-size: 18px;
		line-height: 25px;
	}

	.adress-box {
		flex-wrap: wrap;
		justify-content: center;
	}

	.adress-image-box {
		margin-bottom: 20px;
	}

	.adress-image {
		width: 200px;
		height: 200px;
	}

	.adress-text {
		font-size: 12px;
		text-align: center;
	}

	.tel-text {
		font-size: 12px;
		text-align: center;
	}

	.adress-link {
		width: 35px;
		height: 35px;
	}

	.footer-cont {
		padding: 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

	.logo-img {
		width: 25px;
		height: 25px;
	}

	.logo-text {
		font-size: 25px;
		align-self: center;
	}

	.tel-number {
		font-size: 25px;
	}

	.title-head {
		font-size: 25px;
	}

	.tg-sub {
		font-size: 14px;
	}

	.container {
		width: 90%;
	}

	.table-head {
		font-size: 18px;
	}

	.table-text {
		font-size: 12px;
	}

	.valuta {
		width: 100px;
		font-size: 18px;
	}

	.buy,
	.sell {
		font-size: 18px;
	}

	.description {
		font-size: 8px;
	}

	.btn-calc {
		font-size: 8px;
	}

	.opt-important {
		font-size: 18px;
		line-height: 16px;
	}

	.adress-box {
		flex-direction: column;
		justify-content: center;
	}

	.adress-image-box {
		display: inline-block;
		align-self: center;
		margin-bottom: 25px;
		width: 320px;
		height: 320px;
	}

	.adress-image {
		width: 280px;
		height: 280px;
	}

	.adress-text-box {
		display: inline-block;
		align-self: center;
	}

	.adress-text {
		font-size: 18px;
	}

	.tel-text {
		font-size: 18px;
	}

	.footer-cont {
		padding: 10px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.logo-img {
		width: 35px;
		height: 35px;
	}

	.logo-text {
		font-size: 35px;
		align-self: center;
	}

	.tel-number {
		font-size: 35px;
	}

	.title-head {
		font-size: 35px;
	}

	.tg-sub {
		font-size: 18px;
	}

	.container {
		width: 90%;
	}

	.table-head {
		font-size: 18px;
	}

	.table-text {
		font-size: 12px;
	}

	.valuta {
		width: 100px;
		font-size: 24px;
	}

	.buy,
	.sell {
		font-size: 24px;
	}

	.description {
		font-size: 12px;
	}

	.btn-calc {
		font-size: 12px;
	}

	.opt-important {
		font-size: 18px;
		line-height: 16px;
	}

	.adress-box {
		flex-direction: column;
		justify-content: center;
	}

	.adress-image-box {
		display: inline-block;
		align-self: center;
		margin-bottom: 25px;
		width: 320px;
		height: 320px;
	}

	.adress-image {
		width: 280px;
		height: 280px;
	}

	.adress-text-box {
		display: inline-block;
		align-self: center;
	}

	.adress-text {
		font-size: 18px;
	}

	.tel-text {
		font-size: 18px;
	}

	.footer-cont {
		padding: 10px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1110px) {
	.container {
		width: 1000px;
	}
}